extends ./base/layout.pug

block content
    main.full
        .slider
            - for (var x = 0; x < 2; x++)
                .slick_slide--img(style="background-image: url(../images/slider/one.jpg)")
                    .info
                        .title.cl--white.txt_size--em4.txt_upper
                            h2 Lorem ipsum dolor sit amet
                        .subtitle.cl--white.txt_size--em2
                            h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde officia nemo asperiores delectus facere earum dolore voluptate perferendis.
                .slick_slide--img(style="background-image: url(../images/slider/two.jpg)")
                    .info
                        .title.cl--white.txt_size--em4.txt_upper
                            h2  Lorem ipsum dolor sit amet.
                        .subtitle.cl--white.txt_size--em2
                            h4 Lorem ipsum dolor sit
    main.full.bgc--slate.pd_bottom--x40.pd_top--x40
        .container
            .row.mg_bottom--x30
                .column
                    .subtitle.subtitle_into.blue.cl--darkblue.txt_size--em4.txt_upper
                        h2 Servicios de Laboratorio Clinico
                    .paragraf.cl--darkblue
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat rerum blanditiis ab iusto possimus enim aliquid deserunt? Magnam, placeat ullam eius, cumque magni consectetur, numquam dolorum hic perspiciatis temporibus dolorem!
            
            .multi-item
                - for (var x = 0; x < 10; x++)
                    .box_service.cl--darkblue
                        i.icon.icon-test.icon-text.icon_size--vh5
                        .title.txt_size--em3.txt_capital.mg_bottom--x10.mg_top--x10
                            h2 Prueba Clinica Quimica
                        .paragraf
                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ex quae officiis minima recusandae.
    main.full.bgc--aqua.pd_bottom--x40.pd_top--x40
        .container
            .row
                .column
                    .subtitle.subtitle_into.darkblue.cl--darkblue.txt_size--em4.txt_upper
                        h3 Servicios de seguridad
                    .paragraf.cl--darkblue
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat rerum blanditiis ab iusto possimus enim aliquid deserunt? Magnam, placeat ullam eius, cumque magni consectetur, numquam dolorum hic perspiciatis temporibus dolorem!
            .multi-item
                - for (var x = 0; x < 10; x++)
                    .box_service
                        i.icon
                        .title.cl--darkblue.txt_size--em3
                            h2 Examen
                        .paragraf
                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ex quae officiis minima recusandae.
    main.full.bgc_rgba--blue
        .container
            .row
                .column.txt_center
                    .title
                        h2 Somos lo que somos
                    .paragraf
                        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam et quod sunt culpa, incidunt molestiae adipisci excepturi, dolores numquam magni error harum aperiam fuga ducimus dolorum perspiciatis officia, nobis explicabo.
    main.full
        .container
            .row
                .column.txt_center
                    .title
                        h2 Somos lo que somos
                    .paragraf
                        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam et quod sunt culpa, incidunt molestiae adipisci excepturi, dolores numquam magni error harum aperiam fuga ducimus dolorum perspiciatis officia, nobis explicabo.
            .promo-item
                - for (var x = 0; x < 10; x++)
                    .box_service
                        figure
                            img(href="http://lorempicsum.com/futurama/400/400/2")
                        .title
                            h2 Examen
                        .paragraf
                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ex quae officiis minima recusandae.
    main.full.bgc_rgba--blue
        .container
            .row
                .column.txt_center
                    .title
                        h2 Objetivos de calidad
            .multi-item
                - for (var x = 0; x < 10; x++)
                    .box_service
                        i.icon
                        .title
                            h2 Examen
                        .paragraf
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ex quae officiis minima recusandae.
    main.full
        .container
            .row
                .column.column-min
                    h3 prueba
                .column.column-min
                    h3 prueba 2
                .column.column-min
                    h3 prueba 2
