extends ./base/layout.pug

block content
    main.full.pt_rel
        span.icon_slider.icon-iso
        span.icon_slider.icon-iqnet
        .slider
            .slick_slide--img(style="background-image: url(images/slider/one.jpg)")
                .info
                    .title.cl--white.txt_size--em4.txt_upper
                        h2 Laboramos para servite más y mejor!
                    .subtitle.cl--white.txt_size--em2
                        h4 Somos una organización competitiva y sostenible a través de un portafolio de servicios integrados en salud y seguridad. Ofrecemos servicios de Laboratorio Clínico y Seguridad y Salud en el Trabajo dando soporte a nuestras empresas clientes de manera que logren sus objetivos de mejora.
            .slick_slide--img(style="background-image: url(images/slider/two.jpg)")
                .info
                    .title.cl--white.txt_size--em4.txt_upper
                        h2 Laboramos para servite más y mejor!
                    .subtitle.cl--white.txt_size--em2
                        h4 Somos una organización competitiva y sostenible a través de un portafolio de servicios integrados en salud y seguridad. Ofrecemos servicios de Laboratorio Clínico y Seguridad y Salud en el Trabajo dando soporte a nuestras empresas clientes de manera que logren sus objetivos de mejora.
            .slick_slide--img(style="background-image: url(images/slider/three.jpg)")
                .info
                    .title.cl--white.txt_size--em4.txt_upper
                        h2 Laboramos para servite más y mejor!
                    .subtitle.cl--white.txt_size--em2
                        h4 Somos una organización competitiva y sostenible a través de un portafolio de servicios integrados en salud y seguridad. Ofrecemos servicios de Laboratorio Clínico y Seguridad y Salud en el Trabajo dando soporte a nuestras empresas clientes de manera que logren sus objetivos de mejora.
            .slick_slide--img(style="background-image: url(images/slider/four.jpg)")
                .info
                    .title.cl--white.txt_size--em4.txt_upper
                        h2 Laboramos para servite más y mejor!
                    .subtitle.cl--white.txt_size--em2
                        h4 Somos una organización competitiva y sostenible a través de un portafolio de servicios integrados en salud y seguridad. Ofrecemos servicios de Laboratorio Clínico y Seguridad y Salud en el Trabajo dando soporte a nuestras empresas clientes de manera que logren sus objetivos de mejora.
            .slick_slide--img(style="background-image: url(images/slider/five.jpg)")
                .info
                    .title.cl--white.txt_size--em4.txt_upper
                        h2 Laboramos para servite más y mejor!
                    .subtitle.cl--white.txt_size--em2
                        h4 Somos una organización competitiva y sostenible a través de un portafolio de servicios integrados en salud y seguridad. Ofrecemos servicios de Laboratorio Clínico y Seguridad y Salud en el Trabajo dando soporte a nuestras empresas clientes de manera que logren sus objetivos de mejora.
    main#lab.full.bgc--slate.pd_site
        .container
            .row.mg_bottom--x30
                .column
                    .subtitle.subtitle_into.blue.cl--darkblue.txt_size--em4.txt_upper
                        h2 Servicios Laboratorio Clinico
                    .paragraf.cl--darkblue
                        p Brindamos Servicios de laboratorio clínico de rutina y especializados, con el cumplimento de las controles de calidad requeridos que lo hace confiables y oportunos.
            .multi-item
                .box_service.cl--darkblue
                    i.icon.icon-test.icon-text.icon_size--vh5
                    .title.txt_size--em3.txt_capital.mg_bottom--x10.mg_top--x10
                        h2 Pruebas <br> Hematología
                    .paragraf
                        p Incluye evaluaciones de pruebas de Hematologia acerca de la formación y desordenes sanguíneos.
                .box_service.cl--darkblue
                    i.icon.icon-test.icon-text.icon_size--vh5
                    .title.txt_size--em3.txt_capital.mg_bottom--x10.mg_top--x10
                        h2 Pruebas <br> Quimica Clínica
                    .paragraf
                        p Sumistran una imagen general del metabolismo y equilibrado químico del cuerpo.
                .box_service.cl--darkblue
                    i.icon.icon-test.icon-text.icon_size--vh5
                    .title.txt_size--em3.txt_capital.mg_bottom--x10.mg_top--x10
                        h2 Pruebas <br> Inmunología
                    .paragraf
                        p Pruebas relacionadas con el sistema inmune, respuesta a enfermedades.
                .box_service.cl--darkblue
                    i.icon.icon-test.icon-text.icon_size--vh5
                    .title.txt_size--em3.txt_capital.mg_bottom--x10.mg_top--x10
                        h2 Pruebas <br> Parasitología
                    .paragraf
                        p Pruebas relacionadas con el estudio e identificación de los parásitos humanos.
    main#service.full.bgc--aqua.pd_site
        .container
            .row.mg_bottom--x30
                .column
                    .subtitle.subtitle_into.darkblue.cl--darkblue.txt_size--em4.txt_upper
                        h3 Servicios de seguridad y salud en el trabajo
                    .paragraf.cl--darkblue
                        p Brindamos servicios de medicina preventiva y del trabajo, enfocados a la prevención, control del riesgo en las empresas, apoyándoles en sus objetivos de mejora.
            .multi-item
                .box_service.cl--darkblue
                    i.icon.icon-examen.icon-text.icon_size--vh5
                    .title.cl--darkblue.txt_size--em3.mg_bottom--x10.mg_top--x10.txt_capital
                        h2 Exámen fisico ingreso, egreso, periódico
                    .paragraf
                        p Conjunto de maniobras que realiza un médico para obtener información sobre el estado de salud de una persona.
                .box_service.cl--darkblue
                    i.icon.icon-examen.icon-text.icon_size--vh5
                    .title.cl--darkblue.txt_size--em3.mg_bottom--x10.mg_top--x10.txt_capital
                        h2 Exámen fisico Reintegro Laboral
                    .paragraf
                        p Conjunto de maniobras que realiza un médico para obtener información sobre el estado de salud de una persona para su reintegro laboral.
                .box_service.cl--darkblue
                    i.icon.icon-examen.icon-text.icon_size--vh5
                    .title.cl--darkblue.txt_size--em3.mg_bottom--x10.mg_top--x10.txt_capital
                        h2 Audiometria Tamiz
                    .paragraf
                        p Prueba que permite valorar la capacidad auditiva en una primera instancia.
                .box_service.cl--darkblue
                    i.icon.icon-examen.icon-text.icon_size--vh5
                    .title.cl--darkblue.txt_size--em3.mg_bottom--x10.mg_top--x10.txt_capital
                        h2 Visiometría
                    .paragraf
                        p Prueba que permite valorar la capacidad visual en una primera instancia.
    main.full.bg_grad--lightblue.pd_site
        .container
            .row.mg_bottom--x30
                .column.txt_center
                    .title.cl--white.txt_size--em4.subtitle_into--center.white.txt_upper
                        h2 Somos lo que tu empresa necesita para apoyarte en seguridad y salud en el trabajo
                    .paragraf.cl--white.txt_size--em3
                        h4 Contamos con personal técnico, tecnólogo y Profesionales especialista en Salud Ocupacional Apoyamos actividades de control y prevención del riesgo. Mediciones Ambientales.
                        h4 CONTAMOS CON: Servicio oportuno - Personal competente - Equipos con tecnologia para ofrecer el servicio - Soluciones eficientes En nuestra empresa todos somos promotores del servicio al cliente.
    main#promo.full.bgc--slate.pd_site
        .container
            .row.mg_bottom--x20
                .column
                    .title.cl--darkblue.txt_size--em4.subtitle_into.darkblue.txt_upper.mg_bottom--x10
                        h2 Promociones
                    .paragraf.cl--darkblue.txt_size--em3
                        p Se ofrece tarifa preferencial a clientes recurrentes. pregunta por nuestro servicio.
            .promo-item
                .box_promo
                    figure
                        img(src="images/promo/one.jpg")
                        figcaption
                            .date.cl--gray.mg_bottom--x10.txt_upper
                                small Abr 14, 2015
                            .info
                                .title.cl--darkblue.txt_size--em3.mg_bottom--x20.txt_capital.txt_upper
                                    h2 Mes de Noviembre
                                .paragraf.mg_bottom--x20
                                    p Descuento del 50% sobre el valor de sus exámenes de laboratorio durante el mes de Noviembre. Tu salud es vital para nosotros... "¡Vive Sano, Sé Feliz!"
                .box_promo
                    figure
                        img(src="images/promo/one.jpg")
                        figcaption
                            .date.cl--gray.mg_bottom--x10.txt_upper
                                small Mar 27, 2015
                            .info
                                .title.cl--darkblue.txt_size--em3.mg_bottom--x20.txt_capital.txt_upper
                                    h2 Implementación sistema de gestión
                                .paragraf.mg_bottom--x20
                                    p Necesitas implementar el SG-SST en tu empresa... Haz llegado al sitio adecuado... Acompañamiento, asesoría, implementación a encuentras con M&M Diagnóstico Querenis ayudarte a:
                                    br
                                    ul
                                        li Aumentar el bienestar a nivel personal, familiar y laboral
                                        li Controlar la salud.
                                        li Apoyar en los controles internos de la empresa
                .box_promo
                    figure
                        img(src="images/promo/one.jpg")
                        figcaption
                            .date.cl--gray.mg_bottom--x10.txt_upper
                                small Feb 12, 2015
                            .info
                                .title.cl--darkblue.txt_size--em3.mg_bottom--x20.txt_capital.txt_upper
                                    h2 Promoción Tres
                                .paragraf.mg_bottom--x20
                                    p Conservar despejado y limpio el área de tránsito y de trabajo, eliminando objetos u obstáculos que puedan provocar una caída (cajas, cables, gabinetes o cajones abiertos). Evitar a nivel del suelo cualquier tipo de cable eléctricos, telefónicos, o cualquier material colgante que pueda generar una caída.

    main.full.bgc--darkblue.pd_site
        .container
            .row.mg_bottom--x20
                .column.txt_center
                    .title.cl--white.txt_size--em4.subtitle_into--center.white.txt_upper
                        h2 Objetivos de calidad
            .quality-item
                .box_quality.cl--white.txt_center
                    i.icon.icon-time.icon-text.icon_size--vh9
                    .paragraf.mg_bottom--x10.mg_top--x10
                        p Atender oportunamente a nuestros clientes y usuarios.
                .box_quality.cl--white.txt_center
                    i.icon.icon-time.icon-chat.icon_size--vh9
                    .paragraf.mg_bottom--x10.mg_top--x10
                        p Brindar a nuestros clientes y usuarios calidad y atención en el servicio.
                .box_quality.cl--white.txt_center
                    i.icon.icon-medical.icon-chat.icon_size--vh9
                    .paragraf.mg_bottom--x10.mg_top--x10
                        p Contar con profesionales competentes en la prestación del servicio.
                .box_quality.cl--white.txt_center
                    i.icon.icon-process.icon-chat.icon_size--vh9
                    .paragraf.mg_bottom--x10.mg_top--x10
                        p Garantizar confiabilidad en cada uno de nuestros procesos.
    main#company.full.bgc--slate.pd_site
        .container
            .row
                .column.eco
                    .subtitle.subtitle_into.darkblue.cl--darkblue.txt_size--em4.txt_upper
                        h2 Nuestra Organización
                    a.btn--float.panel-js.in(href="#infra")
                        span.circle.circle--min.bgc--darkblue.cl--white
                            i.icon.icon-chevron-down
    main.full.pd_site.panel
        .container.company
            .row.mg_bottom--x50
                .column.column-middle.txt_right.mg_top--x30
                    figure.company
                        img(src="images/company/aboutus.jpg")
                .column.column-middle
                    .title.cl--cyan.txt_size--em4.mg_bottom--x10
                        h2 Reseña Historica
                    .paragraf.cl--darkblue.txt_size--em2
                        p M&M DIAGNÓSTICO Ltda. busca la excelencia hacia el mejoramiento continuo integrando la tecnología, el conocimiento y la experiencia profesional en alcanzar la satisdacción total de nuestros cliente, ususarios y recursos humano brindando calidad, oportunidad y confiabilidad en nuestros servicios de laboratorio clínico y seguridad y salud en el trabajo.
    main.full.bgc--slate.pd_site.panel
        .container.company
            .row.mg_bottom--x50
                .column.column-middle.txt_right
                    .title.cl--cyan.txt_size--em4.mg_bottom--x10.txt_capital
                        h2 infraestructura
                    .paragraf.cl--darkblue.txt_size--em2
                        p La Organización cuenta una sede ubicada en la Calle 57 #27 - 15 con los servicios de tomar y análisis de muestras. La infraestructura cummple con los estándares de habilitación de acuerdo al Decreto reglamentario vigente acerca de Garantía de Calidad.
                        br
                        p Grantiza a sus clientes y partes interesadas que la maquinaria, equipo e insumos, así como los mantenimientos programados y cliabración, recursos, materiales y demás elementos necesarios para llevar a cabo las actividades de prestación de servicios están planificadas eb función de garantizar la eficacia, adecuación y conformidad del sistema de gestión de la organización.
                    //- a.btn.btn_site.mg_btn(href="#") leer más
                .column.column-middle.mg_top--x30
                    figure.company
                        img(src="images/company/infraestructure.jpg")
    main.full.pd_site.panel
        .container.company
            .row.mg_bottom--x50
                .column.column-middle.txt_right.mg_top--x30
                    figure.company
                        img(src="images/company/quality.jpg")
                .column.column-middle
                    .title.cl--cyan.txt_size--em4.mg_bottom--x10
                        h2 Política de calidad
                    .paragraf.cl--darkblue.txt_size--em2
                        p El Laboratorio Clínico M&M DIAGNÓSTICO Ltda. Ofrece a cada uno de nuestros usuarios calidad, confiabilidad y oportunidad en la prestación de servicios en las áreas de laboratorio clínico y salud ocupacional; siendo atendidos por profesionales competentes y comprometidos con el cumplimieto de los requisitos del cliente y de la normatividad vigente, promoviendo la mejora continua como pilar fundamental del desempeño de la empresa
    main.full.bgc--slate.pd_site.panel
        .container.company
            .row.mg_bottom--x50
                .column.column-middle.txt_right
                    .title.cl--cyan.txt_size--em4.mg_bottom--x10.txt_capital
                        h2 Estados Financieros
                    .paragraf.cl--darkblue.txt_size--em2
                        p los esstados financieros, tambien denominados estados contables, informes financieros o cuenta anuales, son informes que utilizan las instituciones para dar a conoce la situación econónmica y financira y los cambios que expeimenta la misma a una fecha o periodo detrminado. Esta información resulta útil para la Administración, gestores, reguladores y otros tipo de interesados como los accionistas, acreedores o propietarios. En esta sección prodras cunsltar nuestros estados financieros actualizados.
                    a.btn.btn_site.mg_btn(href="#") Ver estados financieros
                .column.column-middle.mg_top--x30
                    figure.company
                        img(src="images/company/finalcial.jpg")
    main.full.bgc--darkblue.pd_site
        .container.txt_center
            .title.cl--white.txt_upper.txt_size--em4
                h2 Recuerda
    main.full.bgc--slate.pd_site
        .container.txt_center
            .paragraf.cl--darkblue.txt_size--em2
                p Ir en ayudas para tus exámenes de laboratorio y seguridad y salud en el trabajo. Tener reposo auditivo antes de tu exámen de audiometría, relaja tis ojos para ayudar en tu visiometría. Sin alcohol tu Espirometría será mejor.
                br
                p Si tienes dudas sobre las condiciones para tus exámenes, cantáctanos. Te brindamos asesorías para tus exámenes de seguridad y salud en el trabajo, contactanos
                p Tu condición de salud es importante para ejercer tu labor, quieres saber más! Contáctanos.
    main.full.bgc--white.pd_site
        .container
            .row.mg_top--x50.mg_bottom--x50
                .column.column-middle.txt_center
                    .subtitle.subtitle_into--center.cyan.cl--cyan.txt_size--em3.mg_bottom--x20
                        h2 Misión
                    .paragraf.cl--darkblue.txt_size--em2.mg_bottom--x20
                        p IPS M&M DIAGNÓSTICO Ltda. busca la excelencia hacia el mejoramiento continuo integrando la tecnología, el conocimiento y la experiencia profesional en alcanzar la satisfacción total de nuestros clientes, usuarios y recurso humano brindando calidad, oportunidad y confiabilidad en nuestros servicios de laboratorio clínico y salud ocupacional.
                .column.column-middle.txt_center
                    .subtitle.subtitle_into--center.cyan.cl--cyan.txt_size--em3.mg_bottom--x20
                        h2 Visión
                    .paragraf.cl--darkblue.txt_size--em2.mg_bottom--x20
                        p Consolidar la organización para ser competitivos y sostenibles a través de un portafolio de servicios integrados en salud y seguridad.
    main#about.full.bgc--darkblue.pd_site
        .container.txt_center
            .title.cl--white.txt_upper.txt_size--em4
                h2 Contacto
    main.full.bgc--aqua.pd_site
        .container
            .row
                .column.column-middle.bgc--white
                    .contact_form.pd_box--x40
                        .subtitle.subtitle_into--center.slate.cl--darkblue.txt_size--em3.txt_center.txt_upper.mg_bottom--x20
                            h2 Ingrese su solicitud y en pocos momentos le responderemos
                        form#contact
                            .data.select.error
                                select#eco.contac_input
                                    option(value="0") Tipo
                                    option(value="1") Mi mama
                                    option(value="2") Mi papa
                                    option(value="3") Otro
                            .data.fullName.error
                                input.contac_input(type="text", placeholder="Nombre completo")
                            .data.company.error
                                input.contact_input(type="text", placeholder="Empresa")
                            .data.city.error
                                input.contact_input(type="text", placeholder="Ciudad")
                            .data.phone.error
                                input.contact_input(type="number", placeholder="Teléfono")
                            .data.email.error
                                input.contact_input(type="email", placeholder="Correo Electronico")
                            .data.message.erro
                                textarea.contact_input(placeholder="Mensaje:")
                            button.btn.btn--full.btn_site.mg_btn(type="submit") Enviar
                .column.column-middle
                    .contact_info.pd_box--x40
                        span.circle.circle--med.bgc--darkblue.cl--white.mg_bottom--x20
                            i.icon.icon-sedep
                        .title.cl--darkblue.txt_size--em3.txt_upper.mg_bottom--x10
                            h2
                                b Sede Principal <br> Barrancabermeja
                        .paragraf.cl--darkblue.txt_size--em2.mg_bottom--x30
                            p Telélefono: 6211110 - 3175006255
                            p Calle 57 No. 27 - 15 Piso 2. Barrio Galán
                            p Horario de atención a parcientes:
                            p Toma de Muestras: Lunes a Viernes 6:30 - 9:00am - Sabados: 8:00 - 9:00 am
                            p Atención público: Lunes a Viernes: 3:00 - 5:00pm
                            p Entrega de resultados: Lunes a Viernes: 3:00 - 5:00pm
                            p Email: mymlab@gmail.com
                            br
                            p Servicios de Seguridad y Salud en el Trabajo
                            p Teléfono: 6202237 - 3164324452
                        .title.cl--darkblue.txt_size--em3.txt_upper.mg_bottom--x10
                            h2
                                b Sucursal <br>Bucaramanga
                        .paragraf.cl--darkblue.txt_size--em2.mg_bottom--x30
                            p Telélefono: 317 500 6256
                            p Calle 55B No. 29 - 47 Barrio Sotomayor
                            p Horario de atención a parcientes:
                            p Toma de Muestras: Lunes a Viernes 7:00 - 9:00am
                            p Atención público: Lunes a Viernes: 7:00 - 12:00 y 2:00 - 5:00pm
                            p Entrega de resultados: Lunes a Viernes: 3:00 - 5:00pm
                            p Email: mymlab.sucursal@gmail.com
                        button.btn.btn_site.btn--float Servicio A Domicilio
    main.full#mapa
        .map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.5123249698413!2d-73.85550038518305!3d7.066439294896357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e42eb578608a4d1%3A0x511930bb3f113e36!2sCra.+27+%2357-1%2C+Barrancabermeja%2C+Santander!5e0!3m2!1ses!2sco!4v1503171605472", height="400", frameborder="0", style="border:0; width:100%;", allowfullscreen)
