include _mixing.pug
footer.bgc--darkblue.pd_site
    .container
        .column.txt_center.mg_bottom--x30.eco
            ul.list.list--inline.txt_upper
                +list
        .column.txt_center.mg_bottom--x20
            .list.list_social.list--inline
                li
                    a(href="https://www.facebook.com/", target="_blank")
                        span.circle.circle--min
                            i.icon.icon-facebook
                li
                    a(href="https://twitter.com/", target="_blank")
                        span.circle.circle--min
                            i.icon.icon-twitter
                li
                    a(href="https://www.linkedin.com/", target="_blank")
                        span.circle.circle--min
                            i.icon.icon-linkedin
                li
                    a(href="https://www.youtube.com/", target="_blank")
                        span.circle.circle--min
                            i.icon.icon-youtube
        .column.txt_center.mg_bottom--x5
            small © Laboratios M&M Diagnóstico, LTDA, 2017. Todos los derechos reservados
