include _mixing.pug
//- include _mixgit.pug
.header_wrapper
    header.box_shadow.bgc--blue
        .container.bdr_radius--box3
            .column_brand
                .box-logo
                    span.logo.logo_lys--min
            .column_nav
                nav.nav
                    +list
            a.nav_trigger(href="#0") Menu
                span
