include _mixing.pug
//- include _mixgit.pug
.header_wrapper
    header.box_shadow.bgc--blue
        .container.is-fullhd.bdr_radius--box3
            .column_brand
                .box-logo
                    span.logo.logo_site
            .column_nav
                nav.nav
                    ul.nav--site
                        +list
            a.nav_trigger(href="#0") Menu
                span
