//-- lista home
mixin list
    li
        a(href="#lab") Laboratorio Clinico
    li
        a(href="#service") Seguridad y Salud en el Trabajo
    li
        a(href="#promo") Promociones
    li
        a(href="#company") Nuestra Organización
    li
        a(href="#about") Contacto
