//-- lista home
mixin list
  ul.nav--site
    li
        a(href="#") Laboratorio Clinico
    li
        a(href="#") Seguridad y Salud en el Trabajo
    li
        a(href="#") Promociones
    li
        a(href="#") Nuestra Organización
    li
        a(href="#") Contacto
