fieldset
    border: none

select,
input,
textarea
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder,
    &:placeholder
        color: $slate

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
    border: none
    -webkit-text-fill-color: $blue
    -webkit-box-shadow: 0 0 0px 1000px $white inset
    transition: background-color 5000s ease-in-out 0s

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input:not([type]),
textarea,
select
    background: $slate
    border: none
    margin-bottom: 15px
    padding: 2vh 12px
    text-transform: uppercase
    -webkit-appearance: none
    transition: all 0.3s ease-in-out
    width: 92%
    display: inline-block
    color: $gray
    +press
        background-color: rgba($white, .5)
        outline: none

select
    // background:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%39657E" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat
    // padding-right: 3.0rem
.data.select
    position: relative
    &:after
        content: "\f078"
        font-family: 'icomoon' !important
        speak: none
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none
        font-size: 12px
        color: $blue
        position: absolute
        top: 29%
        right: 6%
    &:focus
        &:after
            color: $slate

textarea
    min-height: 6.5rem
.data
    overflow: hidden
label
    width: 100%
    display: inline-block
    margin-bottom: 15px
    +font-size(3.9)

.name,
.name--message,
.data--message
    &.error
        label
            position: relative
            font-weight: 700
            color: $blue
            &:before
                position: absolute
                top: 0
                right: 0
                font-size: .7em
                color: red
                font-weight: 700
                text-decoration: underline
.name
    &.error
        label
            &:before
                content: "Escriba su nombre."
.name--message
    &.error
        label
            &:before
                content: "Escriba su nombre."
.data--message
    &.error
        label
            &:before
                content: "No olvide el mensaje."
