// header
header.smaller
    background-color: rgba($cyan, .8)
    border-top: 3px solid $blue
    .logo_site
        width: 100px
        height: 54.7px
.header
    &_wrapper
        width: 100%
        z-index: 1000
        background-color: transparent
        position: fixed
        header
            position: relative
            padding: 0
            z-index: 11
            width: 100%
            .container
                padding: 13px 12px 0px 12px
                vertical-align: middle
.column
    &_brand,
    &_nav
        display: inline-block
        vertical-align: bottom
        padding: 0px 5px
        text-align: right
        vertical-align: middle
    &_brand
        width: 13%
        padding-bottom: 12px
        text-align: center
    &_nav
        width: 100%
        +MQ(S)
            width: 86%
        +MQ(M)
            width: 84%
nav
    .nav
        &--site
            position: fixed
            top: -22px
            left: 0
            width: 100%
            height: 150vh
            padding-top: 75px
            padding-left: 0px
            padding-bottom: 50px
            text-align: center
            z-index: 10
            background-color: transparent
            transform: translateX(-100%)
            transition: all 0.3s ease-in-out
            +MQ(M)
                position: static
                padding: 0
                margin: 0
                top: 0
                width: auto
                height: auto
                display: inline
            li
                position: relative
                list-style: none
                width: 100%
                text-align: center
                margin: 0
                padding: 0
                transition: all .7s ease-in-out
                +MQ(M)
                    display: inline-block
                    vertical-align: middle
                    position: relative
                    z-index: 150px
                    width: auto
                a
                    margin: 0px
                    color: $white
                    text-transform: uppercase
                    display: block
                    cursor: pointer
                    padding: 15px
                    font-size: 1em
                    position: relative
                    font-weight: 700
                    +MQ(S)
                        font-size: .9em
                    +MQ(M)
                        font-size: .75em
                    +MQ(L)
                        font-size: .9em
                    +press
                        color: $yellow
                        &:before
                            background-color: $yellow
                            width: 100%
                    &:before
                        content: ""
                        width: 0%
                        height: 5px
                        background-color: transparent
                        display: block
                        position: absolute
                        top: -29px
                        left: 0
                        transition: all .7s ease-in-out
.nav_trigger
    display: inline-block
    padding-bottom: 10px
    overflow: hidden
    white-space: nowrap
    color: transparent
    z-index: 151
    position: absolute
    top: 35%
    right: 0
    +MQ(M)
        display: none
    span
        position: absolute
        height: 2px
        width: 20px
        top: 10px
        left: 0
        margin-left: 0
        background-color: $white
        transition: all 0.3s ease-in-out
        &:before,
        &:after
            content: ''
            position: absolute
            width: 100%
            height: 100%
            backface-visibility: hidden
            will-change: transform
            background-color: $white
            transform: translate(0)
            transition: transform .3s .3s
        &:before
            transform: translate(-6px)
            bottom: -12px
            left: 6px
        &:after
            transform: translateY(6px)
.nav-is-visible
    .nav--site
        background-color: $blue
        transform: translateX(0)
    .nav_trigger
        span
            background-color: rgba($white, 0)
            &:before
                transform: translateY(0) rotate(-45deg)
                bottom: 0px
                left: 0px
            &:after
                transform: translateY(0) rotate(45deg)
