.slider
    position: relative
    width: 100%
    height: 80vh
    overflow: hidden
    background-color: $silver
    margin-bottom: 0px
.slick_slide--img
    position: relative
    opacity: 1
    display: table
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 80vh
    +font-smoothing
    .info
        position: absolute
        +center(100%, 1%)
        vertical-align: middle
        text-align: left
        padding: 5%
        width: 100%
        +MQ(M)
            width: 50%
.slider-nav
    .item
        position: relative
        width: 80%
        vertical-align: middle
        display: inline-block
        margin: 0 12%
        padding: 0 12%
        +MQ(S)
            width: 100%
            margin: 0
        +MQ(M)
            width: 45%
            margin: 0
.slider
    .slick-prev,
    .slick-next
        width: auto
        height: auto
        z-index: 5
        @media (min-width: 0px) and (max-width: 449px)
            bottom: 5%
            top: inherit
    .slick-prev
        left: 40%
        +MQ(S)
            left: 3%

        &:before
            content: '\f053'
            font-family: 'icomoon' !important
            speak: none
            font-style: normal
            font-weight: normal
            font-variant: normal
            text-transform: none
            font-size: 25px
    .slick-next
        right: 40%
        +MQ(S)
            right: 3%
        &:before
            content: "\f054"
            font-family: 'icomoon' !important
            speak: none
            font-style: normal
            font-weight: normal
            font-variant: normal
            text-transform: none
            font-size: 25px
