@font-face
    font-family: 'icomoon'
    src:  url('../fonts/icomoon.eot?zijzod')
    src:  url('../fonts/icomoon.eot?zijzod#iefix') format('embedded-opentype'),url('../fonts/icomoon.ttf?zijzod') format('truetype'),url('../fonts/icomoon.woff?zijzod') format('woff'),url('../fonts/icomoon.svg?zijzod#icomoon') format('svg')
    font-weight: normal
    font-style: normal


[class^="icon-"], [class*=" icon-"]
    font-family: 'icomoon' !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon
    display: inline-block
    &_size
        &--vh
            &1
                font-size: 1vh
            &2
                font-size: 2vh
            &3
                font-size: 3vh
            &5
                font-size: 5vh
            &9
                font-size: 9vh
    &-time:before
        content: "\e907"
    &-chat:before
        content: "\e900"

    &-examen:before
        content: "\e901"

    &-medical:before
        content: "\e902"

    &-process:before
        content: "\e903"

    &-quality:before
        content: "\e904"

    &-sedep:before
        content: "\e905"

    &-test:before
        content: "\e906"

    &-chevron-left:before
        content: "\f053"

    &-chevron-right:before
        content: "\f054"

    &-chevron-up:before
        content: "\f077"

    &-chevron-down:before
        content: "\f078"

    &-twitter:before
        content: "\f099"

    &-facebook:before
        content: "\f09a"

    &-facebook-f:before
        content: "\f09a";

    &-linkedin:before
        content: "\f0e1"

    &-youtube:before
        content: "\f167"
.icon
    &_slider
        position: absolute
        bottom: 22px
        z-index: 99
        display: inline-block
        @media (min-width: 0px) and (max-width: 449px)
            display: none !important
    &-iso
        right: 122px + 60px
    &-iqnet
        right: 122px 
    &-iso:after
        content: ""
        width: 33px
        height: 55px
        display: block
        background: transparent url('../images/theme/iso.png')no-repeat center center/cover
    &-iqnet:after
        content: ""
        width: 46px
        height: 47px
        display: block
        background: transparent url('../images/theme/iqnet.png')no-repeat center center/cover