// text.sass
.title,
.subtitle,
.paragraf
    display: block
.subtitle
    &_into
        &:after
            content: ""
            width: 100px
            height: 5px
            display: block
            margin-top: 5px
            margin-bottom: 12px
            border-radius: 12px
        &.white:after
            background-color: $white
        &.blue:after
            background-color: $blue
        &.darkblue:after
            background-color: $darkBlue
        &.cyan:after
            background-color: $cyan
    &_into--center
        &:after
            content: ""
            width: 100px
            height: 5px
            display: block
            border-radius: 12px
            margin: 5px auto 12px auto
        &.white:after
            background-color: $white
        &.blue:after
            background-color: $blue
        &.darkblue:after
            background-color: $darkBlue
        &.cyan:after
            background-color: $cyan
.title
    span
        display: inline-block
        margin-right: 10px
    +heading
        display: inline-block

//.tag_data
.txt
    &_italic
        font-style: italic
    &_center
        text-align: center
    &_upper
        text-transform: uppercase
        +heading
            text-transform: uppercase
    &_capital
        text-transform: capitalize
        +heading
            text-transform: uppercase
    &_right
        text-align: right
    &_shadow
        +heading
            text-shadow: 0px 2px 2px $black
        span
            text-shadow: 0px 2px 2px $black
    &_size
        &--em
            &2
                +heading
                    font-size: 2vh
            &3
                +heading
                    font-size: 3vh
            &4
                +heading
                    font-size: 4vh
            &5
                +heading
                    font-size: 5vh
            &6
                +heading
                    font-size: 6vh
            &8
                +heading
                    font-size: 8vh
            &16
                +heading
                    font-size: 16vh
